<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="CSVMatchsFilename" value="match.csv"/>
    <add key="DatabaseType" value="MySQL"/>
    <add key="ServerAddress" value="localhost"/>
    <add key="PortMySQL" value="3306"/>
    <add key="DatabaseName" value="TWB"/>
    <add key="DatabaseUsername" value="Username"/>
    <add key="DatabasePassword" value="Password"/>
  </appSettings>
</configuration>