<?xml version="1.0" encoding="utf-8" ?>
<TWBConfig>
  <CSVMatchsFilename>match_template.csv</CSVMatchsFilename>
  <DatabaseType>MySQL</DatabaseType>
  <ServerAddress>localhost</ServerAddress>
  <PortMySQL>3306</PortMySQL>
  <DatabaseName>TWB</DatabaseName>
  <DatabaseUsername>Username</DatabaseUsername>
  <DatabasePassword>Password</DatabasePassword>
</TWBConfig>
